$black: #323232;
$white: #fff;
$gray: #666;

body {
  background-color: $black;
  background: url(../img/ipenny-bg-1.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;

  a {
    transition: all 220ms;

    &:hover {
      transition: all 220ms;
    }
  }

  header {
    padding: 1em 0;

    a {
      color: $white;
    }

    #menu {
      background-color: $black;
      border: 1px solid #333;

      ul {
        margin: 0;

        li {
          list-style-type: none;
        }
      }
    }
  }

  main {
    background-color: #efefef;
  }

  #search {
    form {
      position: relative;
      margin: 1em 0;

      input[type=search] {
        border-radius: 1.2em;
        padding-left: 1.5em;
        padding-right: 1.5em;
      }

      button[type="submit"] {
        position: absolute;
        font-size: 1em;
        right: 0;
        top: 0;
        width: 39px;
        height: 39px;
        cursor: pointer;

        &:hover {
          color: $gray;
        }
      }
    }
  }

  #random-tags {
    color: $white;
    margin-top: 1em;

    a {
      display: inline-block;
      padding: 0.2em 0.7em;
      font-size: 0.85em;
      border: 1px solid transparent;
      border-radius: 1.1em;

      &:hover {
        border-color: $white;
        color: $white;
      }
    }
  }

  #user {
    color: $white;
    margin-top: 1em;
  }

  main {
    section.supplier-links {
      a {
        display: inline-block;
        border: 1px solid #efefef;
        margin: 0.2rem;

        img {
          max-width: none;
          width: auto;
          height: 60px;
          display: inline-block;
        }
      }
    }

    section.items {
      .row:first-of-type {
        padding-top: 1em;
      }
    }

    section#supplier-catalog {
      .card {
        .card-content {
          span {
            display: none;
          }
        }
      }
    }

    #orbiter {
      min-height: 10rem;
    }

    #search-form {
      background-color: #e6e6e6;
      padding-top: 1rem;

      .medium-8 {
        position: relative;

        input[type=search] {
          border-radius: 1.5rem;
          border-color: $white;
          padding-left: 1.7rem;
        }

        button {
          position: absolute;
          right: 1.7rem;
          top: 0;
          height: 2.4375rem;
        }
      }

      .end {
        background-color: #eee;
        padding-top: 2rem;
      }

      #search-filter {
        display: inline-block;
        margin-top: 0.5rem;
      }

      #filter-fields {
        .fa {
          height: 2.4375rem;
          line-height: 2.4375rem;
        }

        #price-min, #price-max {
          display: inline-block;
          width: 45%;
          text-align: center;
        }

        #lead-time {
          width: 25%;
          text-align: center;
          display: inline-block;
          margin-right: 0.3rem;
        }
      }
    }

    #search-result {
      .card {
        .card-content {
          .card-category {
            display: none;
          }

          .card-brand {
            display: none;
          }
        }
      }
    }
  }
}

.item {
  .card {
    position: relative;
    border-radius: 0.25em;

    &:hover {
      .card-divider {
        opacity: 1;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        transition: all 220ms;
      }
    }

    .card-divider {
      position: absolute;
      background-color: transparent;
      width: 100%;
      box-sizing: border-box;
      padding: 0.5rem;
      opacity: 0;

      a {
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 0.2em;
        color: $white;
        margin: 0.1em;

        &:hover {
          border-color: $white;
        }

        &.on {
          color: orangered;

          &:hover {
            border-color: orangered;
          }
        }

        .fa {
          display: block;
          font-size: 1em;
          width: 1em;
          height: 1em;
          line-height: 1em;
          padding: 0.4em;
          box-sizing: content-box;
        }
      }
    }

    .card-content {
      padding: 0.5rem;
      box-sizing: border-box;
      font-size: 0.8em;

      .new {
        background-color: #fd7643;
        color: #fff;
        padding: 0 0.4rem;
        font-style: normal;
        border-radius: 2px;
        margin-top: -2rem;
        font-size: 0.7rem;
        float: left;
        position: relative;
        z-index: 2;
      }

      .updated {
        background-color: #43b0fd;
        color: #fff;
        padding: 0 0.4rem;
        font-style: normal;
        border-radius: 2px;
        margin-top: -2rem;
        font-size: 0.7rem;
        float: left;
        position: relative;
        z-index: 2;
      }

      .card-title {
        font-weight: 700;
        margin-bottom: 0;
      }

      div {
        color: $gray;
      }

      .card-price {
        color: orangered;
        float: right;
      }
    }
  }
}

.product-description {
  word-break: break-all;
  word-wrap: break-word;

  a {
    word-break: break-all;
    word-wrap: break-word;
  }

  p {
    word-break: break-all;
    word-wrap: break-word;
  }
}

.tabs {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;

  .tabs-title a {
    border: 1px solid transparent;
    position: relative;
    font-size: 1rem;
    color: #000;
  }
  
  .tabs-title.is-active a {
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    &:after {
      content: "";
      height: 1px;
      background-color: #fff;
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0px;
    }
  }
}

.tabs-content {
  background-color: #fff;
  margin-bottom: 3rem;

  .card {
    margin-top: 2rem;

    .card-content {
      padding: 1rem;
    }
  }
}

#panel2 img {
  max-width: 150px;
}

#product-information {
  padding-top: 2rem;

  h4 {
    a {
      font-size: 1rem;
    }
  }

  .card-supplier {
    display: none;
  }
}