* {
  font-family: 'Roboto', sans-serif;
}
i.material-icons {
  vertical-align: bottom;
}
.button {
  border-radius: 2px;
}
header {
  display: block;
  position: fixed;
  width: 200px;
  background: #5f5f5f;
  height: 100%;
  color: #fff;
}
header .company {
  background-color: #a9a9a9;
  display: block;
  padding: 8px;
  text-align: center;
}
header .company:hover {
  background-color: #ccc;
}
header .company img {
  display: inline-block;
}
nav ul {
  margin: 0px;
  padding: 0px;
}
nav ul li {
  width: 100%;
  list-style-type: none;
}
nav ul li:last-child {
  position: absolute;
  bottom: 0px;
  background: #4f4f4f;
}
nav ul li a {
  color: #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  border-left: 2px solid transparent;
}
nav ul li a:hover {
  color: #ccc;
  background-color: #444;
  border-left: 2px solid #ff7111;
  transition: all 220ms;
}
nav ul li a i {
  margin-right: 6px;
}
main {
  box-sizing: border-box;
  padding-left: 200px;
  padding-top: 66px;
  width: 100%;
}
.ribbon {
  background-color: #ececec;
  height: 58px;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: middle;
  position: fixed;
  width: calc(100% - 200px);
  top: 0px;
}
.login h1 {
  text-align: center;
}
.login h6 {
  text-align: right;
}
.activity {
  border: 1px solid #ddd;
}
.activity li:first-child {
  border-bottom: 1px solid #ddd;
}
.activity li:first-child a {
  float: right;
}
.activity li {
    list-style-type: none;
    padding: 5px;
}
.center {
    text-align: center;
}
.notify {
    background-color: #9cde9c;
    margin: 10px auto;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid green;
    color: green;
    max-width: 760px;
}
.tags li {
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  margin: 5px;
  padding: 3px 8px;
  background-color: #fff;
}
.tags li a {
  display: inline-block;
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  padding: 3px;
  width: 16px;
  text-align: center;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: text-bottom;
  box-sizing: border-box;
}
.tags li a:hover {
  background-color: #fff;
  color: #bdbdbd;
}
.tags {
  width: 100%;
  min-height: 100px;
  border: 1px solid #ccc;
  display: block;
  margin: 0px;
}
#tags {
  height: 500px;
  overflow-y: auto;
}
#add-logo {
  display: none;
}
.supplier-products li {
  list-style-type: none;
  margin: 2px;
  text-align: center;
  border: 1px solid #efefef;
  display: inline-block;
  position: relative;
}
.supplier-products li img {
  display: block;
}
.supplier-products li span {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.supplier-form ul {
  margin: 0px;
  padding: 0px;
}
.supplier-form li {
  list-style-type: none;
}
.supplier-form iframe {
  margin: 10px auto;
  display: block;
  border: 1px dashed #999;
  border-radius: 4px;
}
.supplier-form .button {
  margin:5px;
}
.input-group-label {
  color: #777;
}
.section-title {
  text-transform: uppercase;
  color: #999;
  background-color: #ddd;
  padding: 10px 15px;
}
