* {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #000;
}
th {
  text-align: center !important;
}
.center {
  text-align: center;
}
#suppliers-table {
  border: 1px solid #ddd;
}
#suppliers-table thead tr th {
  background-color: #ddd;
}
#suppliers-table tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
th a {
  display: inline-block;
}
i.asc, i.desc {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 18px;
  margin-left: 10px;
  vertical-align: text-bottom;
}
i.asc:before, i.desc:before {
  border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	width: 0;
  top: 0px;
}
i.asc:after, i.desc:after {
  border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	width: 0;
  bottom: 0px;
}
i.asc.active:before {
  border-bottom-color: #000;
}
i.desc.active:after {
  border-top-color: #000;
}
a:hover + i.asc:before {
  border-bottom-color: #555;
}
a:hover + i.asc.active:after {
  border-top-color: #555;
}
a:hover + i.desc.active:before {
  border-bottom-color: #555;
}
.pagination {
  margin: 0px;
}
.pagination a, .pagination span {
  padding: 5px 13px;
  font-weight: 300;
}
.pagination a {
  border: 1px solid #555;
  border-radius: 2px;
}
.button {
  border-radius: 2px;
}
.iframe-logo {
  position: relative;
  background: #E8E8E8;
  height: 16vw;
  width: 16vw;
  display: block;
  border: 1px dashed #323232;
  margin-bottom: 3rem;
  display: inline-block;
}
#new-product-link {
  display: block;
  padding: 86.5px 0px;
  vertical-align: middle;
  text-align: center;
}
.tags li {
  list-style-type: none;
  background: #fff !important;
}
.tags li a {
  background-color: #ccc;
}
.email-step {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 1em;
}
.error {
  color: red;
}
#add-tag {
  background-color: #fff;
  padding: 1em;
}
#add-tag + .row {
  background-color: #fff;
}
#add-tag + .row .tags {
  border: 1px dashed #ccc;
  padding: 10px;
  max-height: 370px;
  overflow-y: auto;
}
.tag-remove {
  position: absolute;
  right: 0px;
  height: 20px;
  top: 0px;
  width: 20px;
  background-color: #ff000080 !important;
  color: #fff;
  opacity: 0;
  border-radius: 0px 0px 0px 3px;
}
.ui-sortable-handle {
  position: relative;
}
.ui-sortable-handle:hover .tag-remove {
  opacity: 1;
  transition: all 220ms;
}