.listview {
  display: none;
}
.listed .listview {
  display: block;
}
.listed .hiddenInListview {
  display: none;
}
.close-button {
  left: inherit !important;
  right: 0px !important;
}
.fancybox-slide .large {
  height: 650px;
  width: 75%;
}
.thumb a {
  width: 100%;
  display: inline-block;
}
.details {
  min-height: 80px;
}
.vendor-name a {
  color: #666 !important;
}

input[name=lead_time] {
  width: 100%;
}

#lead-time, #price-min, #price-max {
  text-align: center;
}

ul.toolicons li a {
  display: inline-block;
}

.favorites.on a {
  background-color: rgba(234, 84, 85, 0.6);
}

#my-collection .favorites {
  display: none;
}

.unfavorite {
  display: none !important;
}
#my-collection .unfavorite {
  display: inline-block !important;
}
.unfavorite a {
  background-color: rgba(222, 0, 0, 0.38) !important;
}
.unfavorite a:hover {
  background-color: rgba(222, 0, 0, 1) !important;
}
#toggler {
  display: none;
}
#filters {
  display: block;
}

@media only screen and (orientation: portrait) {
  #toggler {
    display: inline;
  }

  #filters {
    display: none;
  }
}
