* {
    font-family: helvetica, sans-serif;
}
main {
    width: 960px;
    margin: auto;
}
.info {
    position: relative;
}
.info table th {
    text-align: right;
}
.info .logo {
    text-align: center;
}
.info .edit {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    color: #999;
    padding: 5px;
    line-height: 16px;
}
.info .edit:hover {
    background-color: #999;
    color: #fff;
}
.products ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    min-height: 190px;
    text-align: center;
}
.products ul li img {
    display: block;
    width: 95%;
    margin: auto;
}
.products ul li a {
    color: #000;
}
.products ul li a:hover {
    color: #777;
}
.tags label {
    border-radius: 3px;
    padding: 7px;
    margin: 3px !important;
}
.tags label:hover, .tags label.on {
    background-color: #767676 !important;
    color: #fff !important;
}
.tags input[type=checkbox] {
    margin: 0px;
}
.tags .button-group {
    border: 1px solid #dfdfdf;
    padding: 5px;
}
#image {
    display: none;
}
.message {
    background-color: #6affa5;
    border: 1px dashed #149c18;
    color: #149c18;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}
.add-new-product {
    border: 3px dashed #999;
    color: #999 !important;
    text-align: center;
    display: block;
    border-radius: 3px;
    padding: 57px 0px;
    font-weight: bold;
    margin: 4px;
}
.product-image {
    min-height: 459px;
}
.product-image img {
    box-sizing: border-box;
    border: 1px solid #797979;
}
#new input[type=submit] {
    width: 260px;
}
#new .submit {
    text-align: right;
}

.info aside input[type=text], .info aside textarea {
    margin: 0px;
}
.info aside input[type=text]:disabled, .info aside textarea:disabled {
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0px;
    box-shadow: none;
}
.info aside textarea {
    resize: none;
}
.save-edit {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}
#new-logo input[type=file] {
    display: none;
}
label[for=logo] {
    position: relative;
    border: 1px solid transparent;
}
label[for=logo]:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}
label[for=logo] span {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    width: 100%;
    display: none;
}
label[for=logo]:hover span {
    display: block;
}
