@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5pf3p2');
  src:  url('fonts/icomoon.eot?5pf3p2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5pf3p2') format('truetype'),
    url('fonts/icomoon.woff?5pf3p2') format('woff'),
    url('fonts/icomoon.svg?5pf3p2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
