body {
  background-color: #efefef; }

header {
  background-color: #323232;
  padding: 1.5rem 1rem;
  color: #fff; }

header a {
  color: #fff; }

header .dropdown-pane {
  background-color: #323232;
  border-color: #999; }

header ul {
  margin: 0; }

header li {
  list-style-type: none; }

main {
  padding: 2rem 0; }

footer {
  background-color: #323232;
  color: #fff;
  padding: 1.5rem; }

footer a {
  color: #fff; }

footer li {
  list-style-type: none; }

#dropzone .dz-message .fa-image {
  font-size: 10rem;
  color: #ccc; }
#dropzone .dz-message h5 {
  text-align: center;
  color: #888; }

#dropzone {
  cursor: pointer;
  border: 2px dashed #ccc;
  color: #888;
  min-height: 50px;
  padding: 1em;
  margin-bottom: 1rem; }
  #dropzone:hover {
    background-color: #efefef;
    transition: background-color 500ms; }

form[name="product"] input {
  transition: border-color 220ms; }

.error {
  border-color: #f46842 !important;
  transition: border-color 220ms; }

.error-message {
  margin-top: -1rem;
  background-color: #fff1cc;
  font-style: italic;
  font-size: 0.8em;
  color: #f46842;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 220ms; }

.visible {
  opacity: 1;
  transition: opacity 220ms; }

#drop-category ul {
  margin: 0; }
  #drop-category ul li {
    list-style-type: none; }

#product-submit {
  transition: opacity 220ms; }

.button {
  border-radius: 4px; }

.button:not(.secondary) {
  border: 1px solid #126196; }

.guide {
  background: #ffffd9;
  padding: 1.5em;
  color: #7d5b5b;
  font-size: 0.8em;
  border: 1px solid #d8c68c; }

.card {
  border-radius: 5px; }

#current-tags a {
  font-size: 0.75em;
  color: #666;
  padding: 0.2em;
  margin: 0.1em; }
#current-tags a:hover {
  color: #333;
  transition: all 220ms; }

.required {
  color: #aaa;
  font-size: 0.8em; }

#dropgallery {
  transition: all 220ms;
  border: none; }
  #dropgallery:hover {
    background-color: #efefef; }
  #dropgallery .dz-preview {
    min-height: initial;
    margin: 14px; }
  #dropgallery .dz-message .text-center {
    font-size: 4rem;
    color: #ccc; }
  #dropgallery .dz-message h6 {
    text-align: center;
    color: #888; }
  #dropgallery .dz-image {
    width: 80px;
    height: 80px; }
  #dropgallery .dz-details {
    display: none; }

.explain {
  font-size: 0.75em;
  color: #888; }

#detail-box-toggler {
  padding-left: 1em;
  color: #000; }

#tag-toggler {
  margin-top: 2rem;
  border: 1px solid #ccc;
  box-sizing: border-box; }

.open-range-uploader a {
  padding: 2em;
  border: 0.2em dashed #aaa;
  border-radius: 6px;
  display: inline-block;
  margin: 1em; }
  .open-range-uploader a:hover {
    background-color: #eee;
    transition: 500ms; }

#details-sub-box label {
  font-weight: 700; }

#product-range .column {
  position: relative; }
  #product-range .column .range-btns {
    margin-top: -3.4rem;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 0.65em;
    color: #555;
    font-size: 0.9em; }
    #product-range .column .range-btns a {
      color: #555;
      padding: 0.8em; }
  #product-range .column img {
    padding: 1em; }
  #product-range .column .remove-range {
    position: absolute;
    right: 0.7em;
    top: 0;
    font-size: 1.5em;
    color: #555;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50%;
    padding: 0.05em 0.18em;
    opacity: 0; }

#tags-selection input[type=checkbox], #tags-colorpattern input[type=checkbox] {
  display: none; }
  #tags-selection input[type=checkbox]:checked + label, #tags-colorpattern input[type=checkbox]:checked + label {
    background-color: #ccc; }
#tags-selection label, #tags-colorpattern label {
  display: block;
  box-sizing: border-box;
  margin: 0 0 0.5em 0;
  padding: 0.25em;
  border: 1px solid transparent; }
  #tags-selection label:hover, #tags-colorpattern label:hover {
    border: 1px solid #ccc; }
#tags-selection .guide, #tags-colorpattern .guide {
  margin: 1rem 0 2rem 0; }

#product-gallery {
  padding: 1em; }
  #product-gallery .column .card {
    position: relative;
    cursor: pointer;
    background-color: #000; }
    #product-gallery .column .card:hover:after {
      content: "x";
      position: absolute;
      font-weight: 200;
      font-size: 3rem;
      color: #fff;
      top: 0;
      margin: auto;
      bottom: 0;
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      text-align: center; }
    #product-gallery .column .card:hover img {
      opacity: 0.5;
      transition: opacity 220ms; }

.loader-img img {
  margin: 1.8em auto; }

/*# sourceMappingURL=product-form.css.map */
