.products ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  min-height: 190px;
  text-align: center;
}
.products ul li img {
  display: block;
  width: 95%;
  margin: auto;
}
.products ul li a {
  color: #000;
}
.products ul li a:hover {
  color: #777;
}
.add-new-product {
  border: 3px dashed #999;
  color: #999 !important;
  text-align: center;
  display: block;
  border-radius: 3px;
  padding: 80px 0px;
  font-weight: bold;
  margin: 4px;
  height: 190px;
}
.save-edit {
  display: none;
}
.tags {
  background-color: #fff;
}
.tags .button {
  border-radius: 3px;
  margin: 3px;
}
.tags input[type=checkbox] {
  margin-bottom: 0px;
}
.contain-tags {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
#upload {
  display: none;
}
.fixed {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 10px 10px 0px 80%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 2px #C9C9C9;
  box-shadow: 0 0 5px 2px #C9C9C9;
}
.error {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  background-color: #ffd3d3;
  border-radius: 4px;
}
.error li {
  color: #b30000;
  padding: 10px;
}
input[name='lead_time'] {
  text-align: center;
}
.listview, .toolicons {
  display: none;
}
header#topheader .mainmenu a#togglenav {
  position: inherit;
  margin-top: 7px;
}
.ipennyinfo {
  padding-left: 8px;
}
.supplier-form-buttons {
  min-height: 40px;
  box-sizing: content-box;
}
